/* Layout */
body{
    margin: 0%;
    overflow: hidden;
    transition: 0.5s;
}
.close-menu {
    display: none;
}
.main {
    display: flex;
    margin-left: 60px;
    height: 100vh;
    justify-content: center;
    align-items: middle;
    transition: 0.5s;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
    transition: 0.5s;
}

.mid-circle {
    fill: #000;
    transition: 0.5s;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
    transition: 0.5s;
}

.hour-arm {
    fill: none;
    stroke: red;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
    transition: 0.5s;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
    transition: 0.5;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}

.face,
.border-face {
    fill:white;
}
/* Add a black background color to the top navigation */
.nav {
    background-color: #333;
    height: 100vh;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
  
.button {
    border: none;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
    margin-left: 20%;
}

#clock1{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
#clock2{
    background-color: black;
    margin-bottom: 10px;
}   
#clock3{
    background-color: #1F618D;
    margin-bottom: 10px;
}
#clock4{
    background-color: #E67E22;
    margin-bottom: 10px;
}
/* @media only screen and (max-width:700px){
    .nav {
        width: 0%;
    }


    .close-menu {
        background-color:#333;
        color: white;
        border: none;
        height: 10px;
        width: 10px;
        display: block;
        margin-left: 25px;
        text-align: center;
        line-height: normal;
        padding: 0px;
    }  
} */